<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.katzheimer.testfolder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestFolder"
        tools:ignore="ExtraText"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel_id" />

        <service
            android:name="com.katzheimer.testfolder.MusicService"
            android:enabled="true"
            android:exported="false" /> <!-- <service -->
        <!-- 필요없어서 주석 처리함 -->
        <!-- android:name=".service.FirebaseMessagingService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name="com.katzheimer.testfolder.ShortAnswerGameRecordActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.FourChoiceGameRecordActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.OXGameRecordActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.MinigameDescriptionSamepictureActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.MinigameDescriptionBaseballActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.MinigameDescriptionNumberActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.DecoActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 로그인 액티비티를 메인으로 -->
        <activity
            android:name="com.katzheimer.testfolder.LoginActivity"
            android:exported="false" /> <!-- 다른 넘들 -->
        <activity
            android:name="com.katzheimer.testfolder.SurveyActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.ServeGame_NumberActivity"
            android:exported="true" />
        <activity
            android:name="com.katzheimer.testfolder.CatRoomActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.ShopActivity"
            android:exported="true" />
        <activity
            android:name="com.katzheimer.testfolder.ServeGame_samepicture"
            android:exported="true" />
        <activity
            android:name="com.katzheimer.testfolder.ServeGameBaseballActivity"
            android:exported="true" />
        <activity
            android:name="com.katzheimer.testfolder.GamelistActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.GameHighActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.katzheimer.testfolder.GameMidActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.GameLowActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.Diary_Check"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.Main_UI"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.Setting_UI"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.Diary_write_UI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.katzheimer.testfolder.DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.FindIdActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.FindPwActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.GamePictureActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.PhotoActivity"
            android:exported="false" />
        <activity
            android:name="com.katzheimer.testfolder.ImageListActivity"
            android:exported="false" />
    </application>

</manifest>