<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testfolder" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestFolder"
        tools:ignore="ExtraText"

        tools:targetApi="31">
        <activity
            android:name=".PhotoActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel_id"/>
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false"/>
<!--        <service--> <!--필요없어서 주석 처리함-->
<!--            android:name=".service.FirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <activity
            android:name=".ShortAnswerGameRecordActivity"
            android:exported="false" />
        <activity
            android:name=".FourChoiceGameRecordActivity"
            android:exported="false" />
        <activity
            android:name=".OXGameRecordActivity"
            android:exported="false" />
        <activity
            android:name=".MinigameDescriptionSamepictureActivity"
            android:exported="false" />
        <activity
            android:name=".MinigameDescriptionBaseballActivity"
            android:exported="false" />
        <activity
            android:name=".MinigameDescriptionNumberActivity"
            android:exported="false" />
        <activity
            android:name=".DecoActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 로그인 액티비티를 메인으로 -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- 다른 넘들 -->
        <activity
            android:name=".SurveyActivity"
            android:exported="false" />
        <activity
            android:name=".ServeGame_NumberActivity"
            android:exported="true" />
        <activity
            android:name=".CatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ShopActivity"
            android:exported="true" />
        <activity
            android:name=".ServeGame_samepicture"
            android:exported="true" />
        <activity
            android:name=".ServeGameBaseballActivity"
            android:exported="true" />
        <activity
            android:name=".gamelistActivity"
            android:exported="false" />
        <activity
            android:name=".gameHighActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".gameMidActivity"
            android:exported="false" />
        <activity
            android:name=".gameLowActivity"
            android:exported="false" />
        <activity
            android:name=".Diary_Check"
            android:exported="false" />
        <activity
            android:name=".Main_UI"
            android:exported="false" />
        <activity
            android:name=".Setting_UI"
            android:exported="false" />
        <activity
            android:name=".Diary_write_UI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
    </application>

</manifest>